body {
  font-family: Arial;
  margin: 0;
}

nav {
  background: black;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 10px;
}

section {
  padding: 20px;
}

section {
  padding: 20px;
  border-top: 1px solid gray;
}

h2 {
  margin-top: 20px;
}

div {
  margin-bottom: 15px;
}